
<!-- <div class="row"> -->
    <div class="card mb-3">
        
        <div class="row g-0" style="height:100vh">
            
            <div class="col-md-6">
                <img src="../../../assets/help3.jpg" class="img-fluid" alt="..."
                    >
                
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div class="position-relative">
                                 
                            <div class="position-absolute top-50 start-50">
                                <h1 class="card-title" style="color:rgb(38, 91, 169); margin-top: 50%;">How can we help you?</h1>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid" style="background-color: rgb(135, 192, 241);">
<div class="row" style="padding: 30px;">
    
    <div class="col">
        
         <div class="mydiv">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" >
          </div>
         <div class="mydiv">
            <label for="exampleFormControlInput1" class="form-label">phone number</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" >
          </div>
         <div class="mydiv">
            <label for="exampleFormControlInput1" class="form-label">email id</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div class="mydiv">
            <label for="exampleFormControlTextarea1" class="form-label">message us</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
            <div class="col">
                <div>
                    <img src="../../../assets/helpp.jpg" alt="..." width="94%">
                </div>
            </div>
     
 </div>
</div>


