<div class="container-fluid text-center" style="background-color: rgb(7, 14, 44); color:aliceblue">
    <div class="row">
      <div class="col">
        <footer>
           <p>2023 © All rights reserved. NeST Digital Pvt Ltd.    |    Legal Disclaimer |    Disclaimer: Fraud Recruitment Offers    |    A NeST Group Company </p>
  
          </footer>
      </div>
      
      
      
      <!-- <div class="position">2023 © All rights reserved. NeST Digital Pvt Ltd. |    Legal Disclaimer |    Disclaimer: Fraud Recruitment Offers    |    A NeST Group Company </div> -->
      </div>
    </div>
  
